/*
=========================================
FONT FACES
=========================================
*/
@font-face {
  font-family: 'open-sansBold';
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'open-sansBolditalic';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  src: url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'open-sansExtrabold';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: 'open-extraExtrabolditalic';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'open-Italic';
  src: url("../fonts/OpenSans-Italic.ttf");
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'open-light';
  src: url("../fonts/OpenSans-Light.ttf");
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'open-lightItalic';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'open-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'open-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: 'open-SemiBoldItalic';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"); }
/*
=========================================
END OF FONT FACES
=========================================
*/
/*
=========================================
Mixins SASS
=========================================
*/
/*
=========================================
END OF Mixins SASS
=========================================
*/
/*
=========================================
RESPONSIVE VIEWS
=========================================
*/
/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style NavBar
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
.navbar-default {
  background-color: #ffffff;
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  min-height: 60px;
  z-index: 1000 !important; }
  .navbar-default .container {
    margin-top: 6px; }
  .navbar-default .navbar-brand {
    height: 40px;
    padding: 4px 5px; }
    @media (max-width: 768px) {
      .navbar-default .navbar-brand {
        margin-left: 10px; } }
  .navbar-default .navbar-nav li a {
    color: #1f3996;
    padding-right: 25px; }
  .navbar-default .navbar-nav li:last-child a {
    padding-right: 0px; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -8px; } }
/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  END OF Style NavBar
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style FIRST DIV
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
.jumbotron {
  background: -o-linear-gradient(90deg, #3946b6, #253195);
  background: -moz-linear-gradient(90deg, #3946b6, #253195);
  background: -webkit-linear-gradient(90deg, #3946b6, #253195);
  background: linear-gradient(90deg, #3946b6, #253195);
  position: relative;
  z-index: 1;
  height: 625px; }
  @media (max-width: 768px) {
    .jumbotron {
      height: auto; } }
  .jumbotron .img1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    .jumbotron .img1 img {
      width: 80%;
      opacity: 0.5; }
  .jumbotron .img2 {
    position: absolute;
    top: 6%;
    lefT: 0;
    z-index: -2; }
    .jumbotron .img2 img {
      width: 80%;
      opacity: 0.5; }
    @media (max-width: 768px) {
      .jumbotron .img2 {
        top: 0%; } }
  .jumbotron .container .left .counter h5 {
    color: #38a6d9;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'open-Regular'; }
    @media (max-width: 768px) {
      .jumbotron .container .left .counter h5 {
        font-size: 22px;
        text-align: center; } }
  .jumbotron .container .left .counter .countdownContainer {
    color: white;
    text-align: center; }
    @media (max-width: 768px) {
      .jumbotron .container .left .counter .countdownContainer {
        margin: auto; } }
    .jumbotron .container .left .counter .countdownContainer tr td .points {
      padding-right: 5px;
      font-size: 16px;
      font-weight: 600;
      color: #8187f7; }
    .jumbotron .container .left .counter .countdownContainer tr td p {
      display: inline-block;
      margin: 0;
      border: 1px solid #8187f7;
      padding: 5px 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      font-family: 'open-Regular'; }
      @media (max-width: 768px) {
        .jumbotron .container .left .counter .countdownContainer tr td p {
          padding: 2px 11px; } }
      @media (max-width: 380px) {
        .jumbotron .container .left .counter .countdownContainer tr td p {
          padding: 2px 7px; } }
  .jumbotron .container .left .title h3 {
    font-family: 'open-Regular';
    color: white;
    margin-top: 40px;
    padding-right: 130px;
    letter-spacing: 2px; }
    @media (max-width: 768px) {
      .jumbotron .container .left .title h3 {
        text-align: center;
        width: 315px;
        margin: 40px auto auto auto;
        padding-right: 0px; } }
    @media (max-width: 380px) {
      .jumbotron .container .left .title h3 {
        width: 275px; } }
  .jumbotron .container .left .title h3:first-letter {
    text-transform: capitalize; }
  .jumbotron .container .left .subscribe {
    margin-top: 70px; }
    @media (max-width: 768px) {
      .jumbotron .container .left .subscribe {
        text-align: center;
        margin-top: 50px; } }
    .jumbotron .container .left .subscribe label {
      color: #c2caf9;
      font-size: 18px;
      font-family: 'open-light'; }
    .jumbotron .container .left .subscribe label:first-letter {
      text-transform: capitalize; }
    .jumbotron .container .left .subscribe form {
      margin-top: 15px; }
      .jumbotron .container .left .subscribe form .form-group {
        position: relative;
        width: 75%;
        font-family: 'open-Light';
        margin-bottom: 0px; }
        @media (max-width: 768px) {
          .jumbotron .container .left .subscribe form .form-group {
            margin: auto auto 0px auto; } }
        .jumbotron .container .left .subscribe form .form-group .form-control {
          height: 43px;
          border-radius: 20px;
          color: #566576;
          border: 0;
          font-weight: 600; }
          @media (max-width: 768px) {
            .jumbotron .container .left .subscribe form .form-group .form-control {
              height: 50px; } }
        .jumbotron .container .left .subscribe form .form-group button {
          position: absolute;
          top: 0;
          right: -2px;
          border-radius: 20px;
          height: 43px;
          font-family: 'open-Regular';
          background-color: #38a6db;
          color: white;
          border: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -o-box-shadow: none;
          -ms-box-shadow: none;
          box-shadow: none;
          width: 120px; }
          @media (max-width: 768px) {
            .jumbotron .container .left .subscribe form .form-group button {
              width: 65px;
              height: 50px; } }
          .jumbotron .container .left .subscribe form .form-group button img {
            display: none; }
            @media (max-width: 768px) {
              .jumbotron .container .left .subscribe form .form-group button img {
                display: block;
                margin: auto; } }
          .jumbotron .container .left .subscribe form .form-group button span {
            display: inline; }
            @media (max-width: 768px) {
              .jumbotron .container .left .subscribe form .form-group button span {
                display: none; } }
  .jumbotron .container .right .video {
    margin-top: 100px;
    height: 250px; }
    @media (max-width: 768px) {
      .jumbotron .container .right .video {
        margin-top: 75px; } }
    @media (max-width: 480px) {
      .jumbotron .container .right .video {
        height: 200px; } }
    @media (max-width: 380px) {
      .jumbotron .container .right .video {
        height: 160px; } }
    .jumbotron .container .right .video img {
      max-height: 100%;
      float: right;
      cursor: pointer; }
      @media (max-width: 768px) {
        .jumbotron .container .right .video img {
          float: none;
          margin: auto; } }
  .jumbotron .container .right .social-media {
    margin-top: 90px;
    text-align: right; }
    @media (max-width: 768px) {
      .jumbotron .container .right .social-media {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 20px; } }
    .jumbotron .container .right .social-media h5 {
      color: #419cdb;
      font-size: 18px; }
    .jumbotron .container .right .social-media a {
      display: inline-block;
      margin-right: 20px; }
    .jumbotron .container .right .social-media a:last-child {
      margin-right: 0px; }

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  END OF Style FIRST DIV
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style TEAM
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
@media (max-width: 768px) {
  .team {
    margin-bottom: 70px; } }
.team .title {
  text-align: center;
  font-size: 18px;
  color: #1f3996;
  margin-bottom: 45px;
  margin-top: 30px;
  font-family: 'open-Regular';
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .team .title {
      font-size: 22px; } }
@media (max-width: 768px) {
  .team .col-sm-3 {
    margin: auto;
    float: none; } }
.team .thumbnail {
  border: 0; }
  .team .thumbnail .contain-img {
    width: 190px;
    height: 170px;
    margin: auto; }
    @media (max-width: 992px) {
      .team .thumbnail .contain-img {
        width: 150px; } }
    .team .thumbnail .contain-img .main-img {
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -o-border-radius: 12px;
      -ms-border-radius: 12px;
      border-radius: 12px;
      max-height: 100%;
      margin: auto; }
  .team .thumbnail .caption h3 {
    color: #1993c3;
    font-size: 22px;
    text-align: center;
    font-family: 'open-Regular';
    margin-bottom: 5px; }
  .team .thumbnail .caption h6 {
    color: #989da7;
    text-align: center;
    font-family: 'open-Regular';
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 0px; }
  .team .thumbnail .caption p {
    text-align: center; }
  .team .thumbnail .caption > p {
    color: #58626c;
    font-family: 'open-light';
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px; }
  .team .thumbnail .caption > p:first-letter {
    text-transform: capitalize; }
  .team .thumbnail .caption p .btn {
    padding: 4px 20px; }
  .team .thumbnail .caption p .btn:last-child {
    padding: 5.1px 20px; }

.owl-theme .owl-controls .owl-page span {
  opacity: 0.4;
  background: #2836a4; }

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  End of Style TEAM DIV
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style Footer
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
footer {
  background: -o-linear-gradient(90deg, #3946b6, #253195);
  background: -moz-linear-gradient(90deg, #3946b6, #253195);
  background: -webkit-linear-gradient(90deg, #3946b6, #253195);
  background: linear-gradient(90deg, #3946b6, #253195);
  padding-top: 45px;
  padding-bottom: 25px; }
  footer .blockone {
    display: inline-block;
    width: 100%; }
    footer .blockone .paper_btn {
      color: white;
      font-family: 'open-light';
      background: #38a6db;
      padding: 12px 42px;
      font-weight: 800;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      -o-border-radius: 22px;
      -ms-border-radius: 22px;
      border-radius: 22px;
      letter-spacing: 1.5px; }
    @media (max-width: 768px) {
      footer .blockone .pull-left {
        float: none !important;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 40px; } }
    @media (max-width: 768px) {
      footer .blockone .pull-left .contain_img img {
        margin: auto; } }
    @media (max-width: 768px) {
      footer .blockone .pull-right {
        float: none !important;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 50px; } }
  footer .blocktwo .center-block {
    text-align: center;
    color: white;
    font-family: 'open-light';
    font-weight: 600;
    letter-spacing: 1.5px; }
    footer .blocktwo .center-block h6 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
      margin-top: 0px; }
      @media (max-width: 768px) {
        footer .blocktwo .center-block h6 {
          margin-bottom: 25px; } }
    footer .blocktwo .center-block h6:first-letter {
      text-transform: capitalize; }
    footer .blocktwo .center-block a {
      color: #1586ed;
      text-decoration: underline;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      display: block; }
      @media (max-width: 768px) {
        footer .blocktwo .center-block a {
          margin-bottom: 30px; } }
    footer .blocktwo .center-block p {
      width: 35%;
      margin: auto; }
      @media (max-width: 768px) {
        footer .blocktwo .center-block p {
          width: 42%; } }
  footer .blockthree {
    margin-top: 90px; }
    @media (max-width: 768px) {
      footer .blockthree {
        margin-top: 60px; } }
    footer .blockthree .center-block {
      text-align: center; }
      footer .blockthree .center-block a {
        display: inline-block;
        /* width: 250px; */
        text-align: center;
        padding: 0px 56px;
        border-right: 2px solid #337ab7;
        color: #6c75c8;
        font-family: 'open-light';
        font-weight: 800; }
        @media (max-width: 1100px) {
          footer .blockthree .center-block a {
            padding: 0px 25px; } }
        @media (max-width: 480px) {
          footer .blockthree .center-block a {
            padding: 0px 10px; } }
      @media (max-width: 768px) {
        footer .blockthree .center-block a:nth-child(3) {
          border-right: 0px; } }
      footer .blockthree .center-block a:last-child {
        border-right: 0px; }
        @media (max-width: 768px) {
          footer .blockthree .center-block a:last-child {
            display: block;
            margin-top: 25px; } }

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 END OF  Style Footer
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   Style modal
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
@media (max-width: 768px) {
  .modal iframe {
    width: 100% !important; } }

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  END OF Style modal
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

/*# sourceMappingURL=style.css.map */
