/*
=========================================
FONT FACES
=========================================
*/


@font-face {
   font-family: 'open-sansBold';
   src: url('../fonts/OpenSans-Bold.ttf');
   src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
   //font-style: normal;
}
@font-face {
   font-family: 'open-sansBolditalic';
   src: url('../fonts/OpenSans-BoldItalic.ttf');
   src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
   //font-style: normal;
}
@font-face {
   font-family: 'open-sansExtrabold';
   src: url('../fonts/OpenSans-ExtraBold.ttf');
   src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
   //font-style: normal;
}
@font-face {
   font-family: 'open-extraExtrabolditalic';
   src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
   src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
   //font-weight: bold;
   //font-style: normal;
}
@font-face {
   font-family: 'open-Italic';
   src: url('../fonts/OpenSans-Italic.ttf');
   src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
   //font-weight: bold;
   //font-style: normal;
}
@font-face {
   font-family: 'open-light';
   src: url('../fonts/OpenSans-Light.ttf');
   src: url('../fonts/OpenSans-Light.ttf') format('truetype');
   // font-weight: normal;
   // font-style: normal;
}
@font-face {
   font-family: 'open-lightItalic';
   src: url('../fonts/OpenSans-LightItalic.ttf');
   src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
   // font-weight: 900;
   // font-style: normal;
}
@font-face {
   font-family: 'open-Regular';
   src: url('../fonts/OpenSans-Regular.ttf');
   src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
   // font-weight: 900;
   // font-style: normal;
}
@font-face {
   font-family: 'open-SemiBold';
   src: url('../fonts/OpenSans-SemiBold.ttf');
   src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
   // font-weight: 900;
   // font-style: normal;
}
@font-face {
   font-family: 'open-SemiBoldItalic';
   src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
   src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
   // font-weight: 900;
   // font-style: normal;
}

/*
=========================================
END OF FONT FACES
=========================================
*/



/*
=========================================
Mixins SASS
=========================================
*/


@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-o-border-radius:$radius;
	-ms-border-radius:$radius;
	border-radius:$radius;
}

@mixin box-shadow($shadow){
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  -o-box-shadow:$shadow;
  -ms-box-shadow:$shadow;
  box-shadow:$shadow;
}

@mixin transform($value){
  -webkit-transform:$value;
  -moz-transform:$value;
  -o-transform:$value;
  -ms-transform:$value;
  transform:$value;
}

@mixin border-bottom($value){
 border-bottom:1px solid $value; 
}

@mixin animation($value){
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin transition($value){
  -webkit-transition:$value;
  -moz-transition:$value;
  -ms-transition:$value;
  -o-transition:$value;
  transition:$value;
}

@mixin linear-gradient-b($args...) {
   background: -o-linear-gradient($args); 
   background: -moz-linear-gradient($args); 
   background: -webkit-linear-gradient($args); 
    background: linear-gradient($args); 
}

/*
=========================================
END OF Mixins SASS
=========================================
*/

/*
=========================================
RESPONSIVE VIEWS
=========================================
*/
$break-xsmall:380px;
$break-small:480px; $break-xmeduim:768px;
$break-meduim:992px; $break-lmeduim:1100px;

@mixin screen($media){

  @if $media==xsmall{
    @media (max-width: $break-xsmall){@content;}
  }
  @if $media==small{
    @media (max-width: $break-small){@content;}
  }
  @else if $media==xmeduim{
    @media (max-width: $break-xmeduim){@content;}
  }
  @else if $media==meduim{
    @media (max-width: $break-meduim){@content}
  }
  @else if $media==lmeduim{
    @media (max-width: $break-lmeduim){@content}
  }

}

