@import 'mixin';


// body{
// 	font-family: 'open-Regular';
// }

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style NavBar
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

.navbar-default{

	background-color: #ffffff;
	margin-bottom: 0px;
	@include border-radius(0px);
	min-height: 60px;
	z-index: 1000 !important;

	.container{
		margin-top: 6px;
	}

	.navbar-brand {
	    height: 40px;
	    padding: 4px 5px;
	    @include screen(xmeduim){
	    	margin-left: 10px;
	    }
	}

	.navbar-nav{
		li{
			a{
				color: #1f3996;
				padding-right: 25px;
			}
		}
		li:last-child{
			a{
				padding-right: 0px;
			}
		}
	}
	        
}

@media (min-width: 768px){
   .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -8px;
	}
}

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  END OF Style NavBar
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style FIRST DIV
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

.jumbotron{

    @include linear-gradient-b(90deg, #3946b6 ,#253195 );    
    position: relative;
    z-index: 1;
    height: 625px;
    @include screen(xmeduim){
		height: auto;
	}
    .img1{
    	position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;

	    img{
	    	width: 80%;
	    	opacity: 0.5;
	    }
    }

    .img2{
    	position: absolute;
	    top: 6%;
	    lefT: 0;
	    z-index: -2;
	    img{
	    	width: 80%;
	    	opacity: 0.5;
	    }
	    @include screen(xmeduim){
	    	top: 0%;
	    }
    }

    .container{

    	.left{

            .counter{
                h5{
                	color: #38a6d9;
				    font-size: 18px;
				    margin-bottom: 20px;
				    font-family: 'open-Regular';
				    @include screen(xmeduim){
						font-size: 22px;
						text-align: center;
					}
                }
            	.countdownContainer{
					color: white;
					text-align: center;
					@include screen(xmeduim){
						margin: auto;
					}
					tr{
						td{
							.points {
							    padding-right: 5px;
							    font-size: 16px;
							    font-weight: 600;
							    color: #8187f7;
							}
							 p{
					            display: inline-block;
							    margin: 0;
							    border: 1px solid #8187f7;
							    padding: 5px 10px;
							    @include border-radius(5px);
							    font-family: 'open-Regular';
							    @include screen(xmeduim){
									padding: 2px 11px;
								}
								@include screen(xsmall){
									padding: 2px 7px;
								}
					        }
						}
					}
					
				}
            }

            .title{
            	h3{
            	    font-family: 'open-Regular';
				    color: white;
				    margin-top: 40px;
				    padding-right: 130px;
				    letter-spacing: 2px;
                    
                    @include screen(xmeduim){
					    text-align: center;
					    width: 315px;
					    margin: 40px auto auto auto;
					    padding-right: 0px;
				    }

				    @include screen(xsmall){
				    	width: 275px;
				    }

            	}
            	h3:first-letter{
            		text-transform: capitalize;
            	}
            }

            .subscribe{
            	margin-top: 70px;
            	@include screen(xmeduim){
				    text-align: center;
				    margin-top: 50px;
			    }
            	label{
            		color: #c2caf9;
				    font-size: 18px;
				    font-family: 'open-light';
            	}
            	label:first-letter{
            		text-transform: capitalize;
            	}
            	form{
            		margin-top: 15px;
            		.form-group{
            			position: relative;
             			width: 75%;
             			font-family: 'open-Light';
             			margin-bottom: 0px;
             			@include screen(xmeduim){
             				margin: auto auto 0px auto;
             			}
             			.form-control{
             				height: 43px;
   							border-radius: 20px;
   							color: #566576;
   							border: 0;
   							font-weight: 600;
   							@include screen(xmeduim){
								height: 50px;
							}
             			}
             			button{
             				position: absolute;
						    top: 0;
						    right: -2px;
						    border-radius: 20px;
   							height: 43px;
   							font-family: 'open-Regular';
   							background-color: #38a6db;
   							color: white;
   							border: 0;
   							@include box-shadow(none);
   							width: 120px;

   							@include screen(xmeduim){
								width: 65px;
								height: 50px;
							}

   							img{

   								display: none;
                                @include screen(xmeduim){
								    display: block;
								    margin: auto;
							    }

   							}

   							span{

                               display: inline;
                               @include screen(xmeduim){
								    display: none;
							    }

   							}

             			}
            		}
            	}
            }
			
    	} //LEFT

    	.right{
    		.video{
    			margin-top: 100px;
    			height: 250px;
    			@include screen(xmeduim){
         			margin-top: 75px;
         			
         	    }
         	    @include screen(small){
         	    	height: 200px;
         	    }
         	    @include screen(xsmall){
         	    	height: 160px;
         	    }
    			img{
    				max-height: 100%;
				    float: right;
				    cursor: pointer;
				    
                    @include screen(xmeduim){
             			float: none;
                        margin: auto;
             	    }
    			}
    		}
    		.social-media{
    			margin-top: 90px;
    			text-align: right;

    			@include screen(xmeduim){
         			text-align: center;
         			margin-top: 45px;
    				margin-bottom: 20px;
         	    }

    			h5{
    				color: #419cdb;
    				font-size: 18px;
    			}
    			a{
    				display: inline-block;
    				margin-right: 20px;
    			}
    			a:last-child{
    				margin-right: 0px;
    			}
    		}
    	} //Right
    }

}

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  END OF Style FIRST DIV
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style TEAM
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

.team{

	@include screen(xmeduim){
		margin-bottom: 70px;
	}

	.title{
		text-align: center;
		font-size: 18px;
		color: #1f3996;
		margin-bottom: 45px;
		margin-top: 30px;
		font-family: 'open-Regular';
		text-transform: uppercase;
		@include screen(xmeduim){
			font-size: 22px;
		}
    }

    .col-sm-3{
    	@include screen(xmeduim){
    		margin: auto;
            float: none;
    	}
    }

	.thumbnail{
		border: 0;
		// .contain-img{
		// 	width: 275px;
		// 	height: 275px;
		// }
		.contain-img {
		    width: 190px;
            height: 170px;
            margin:auto;
            @include screen(meduim){
            	width: 150px;
            }
		    .main-img{
	          @include border-radius(12px);
	          max-height: 100%;
	          margin: auto;
			}
		}

		.caption{
			h3{
				color: #1993c3;
			    font-size: 22px;
			    text-align: center;
			    font-family: 'open-Regular';
			    margin-bottom: 5px;
			}
			h6{
				color: #989da7;
				text-align: center;
				font-family: 'open-Regular';
				font-size: 14px;
				margin-bottom: 20px;
                margin-top: 0px;
			}
			p{
				text-align: center;
			}
			> p{
				color: #58626c;
			    font-family: 'open-light';
			    font-size: 14px;
			    font-weight: 600;
			    line-height: 25px;
			    margin-bottom: 20px;
			}
			> p:first-letter{
			  text-transform: capitalize
			}
			p{
				.btn{
					padding: 4px 20px;
				}
				.btn:last-child{
					padding: 5.1px 20px;
				}
			}
		}
		
	}

}

.owl-theme .owl-controls .owl-page span{
	opacity: 0.4;
    background: #2836a4;
}


/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  End of Style TEAM DIV
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/


/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Style Footer
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

footer{

	@include linear-gradient-b(90deg, #3946b6 ,#253195 );
	padding-top: 45px;
	padding-bottom: 25px;
	.blockone{
		    display: inline-block;
            width: 100%;
		.paper_btn{
			color: white;
		    font-family: 'open-light';
		    background: #38a6db;
		    padding: 12px 42px;
		    font-weight: 800;
		    @include border-radius(22px);
		    letter-spacing: 1.5px;
		}

		.pull-left{
			 @include screen(xmeduim){
				float: none !important;
			    display: block;
			    width: 100%;
			    text-align: center;
			    margin-bottom: 40px;
			}

			.contain_img{
				img{
					@include screen(xmeduim){
						margin:auto;
					}
				}
			}
		}

		.pull-right{
			@include screen(xmeduim){
				float: none !important;
			    display: block;
			    width: 100%;
			    text-align: center;
			    margin-bottom: 50px;
			}
		}

	}

	.blocktwo{
		.center-block{

			text-align: center;
			color: white;
			font-family: 'open-light';
			font-weight: 600;
			letter-spacing: 1.5px;
			h6{
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 30px;
				margin-top: 0px;
				@include screen(xmeduim){
					margin-bottom: 25px;
				}
			}
			h6:first-letter{
				text-transform: capitalize;
			}
			a{
				color: #1586ed;
			    text-decoration: underline;
			    font-size: 16px;
			    font-weight: 700;
			    margin-bottom: 20px;
    			display: block;
    			@include screen(xmeduim){
					margin-bottom: 30px;
				}
			}
			p{
				width: 35%;
    			margin: auto;

               @include screen(xmeduim){
    			 width: 42%;
    			}
			}
		}
		
	}

	.blockthree{

		margin-top: 90px;

		@include screen(xmeduim){
			margin-top: 60px;
		}

		.center-block{
			text-align: center;
			a{
				display: inline-block;
			    /* width: 250px; */
			    text-align: center;
			    padding: 0px 56px;
			    border-right: 2px solid #337ab7;
			    color: #6c75c8;
			    font-family: 'open-light';
			    font-weight: 800;
			    @include screen(lmeduim){
					padding: 0px 25px;
				}
				@include screen(small){
					padding: 0px 10px;
			    }
			}
			a:nth-child(3){
				@include screen(xmeduim){
					border-right:0px;
			    }
			}
			a:last-child{
				border-right: 0px;
				@include screen(xmeduim){
					display: block;
                    margin-top: 25px;
				}
			}
		}
         
	}

}


/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 END OF  Style Footer
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/


/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   Style modal
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

.modal{
   iframe{

   	@include screen(xmeduim){
   		width: 100% !important;
   	}
   	
   }
}

/*
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  END OF Style modal
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

